/* i stole this font off of like fontspace or some shit so enable custom fonts at your own risk */
@font-face {
    font-family: "pixel";
    src: url("pixel.TTF")
}
body {
    background-color: #000000;
    background-image: url('brain.gif');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
}

p, h1, h2, h3, h4 ,h5, h6 {
    font-family: pixel;
    color: #ffffff;
}
h1, h2, h3, h4, h5, h6 {
    text-align: center;
}
p.tiny {
    font-size: 10px;
    text-align: center;
}

/* underlined links are gay */
a:link, a:visited {
	    color: #ffffff;
	    text-decoration: none;
	    font-style: italic;
	}
a:hover, a:active {
	     text-decoration: underline;
	     font-style: italic;
	 }

div.box {
    border-style: solid;
    border-color: #ffffff;
    border-width: 1px;
    margin: auto;
    text-align: center;
}
div.contact {
    float: right;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: #ffffff;
    max-width: 500px;
    padding: 4px;
}
div.box {
    margin: auto;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: #ffffff;
    max-width: 400px;
    padding: 3px;
}