@font-face {
    font-family: "pixelthingy";
    src: url("pixel.TTF")
}
body {
    background-image: url("https://my.mixtape.moe/thwwsf.gif");
    background-size: 1920px 1080px;
    background-repeat: repeat;
    background-attachment: fixed;
}
h1, h2, h3, h4, h5, h6 {
    font-family: pixelthingy, monospace;
    color: #FACDB9;
}
p {
    font-family: pixelthingy, monospace;
    color: #FFFFFF;
}
.boxishthing {
     text-align: center;
     border-style: dotted;
     border-width: 1px;
     border-color: #91fffc;
     max-width: 750px;
}
.smallerboxishthing {
    text-align: center;
    border-style: dashed;
    border-width: 3px;
    border-color: #FF6192;
    max-width: 500px;
}
.anothersmallboxishthing {
    text-align: center;
    border-style: dashed;
    border-width: 3px;
    border-color: #FF6192;
    max-width: 420px;
}
a:link, a:visited {
    text-decoration: none;
    color: #91fffc;
}
a:hover, a:active {
    text-decoration: none;
    color: #FFFFFF;
}