/* i stole this font off of like fontspace or some shit so enable custom fonts at your own risk */
@font-face {
    font-family: "pixelthingy";
    src: url("pixel.TTF")
}
a:link, a:visited {
	    color: #66ff66;
	    text-decoration: none;
	}
a:hover, a:active {
	     color: white;
	     text-decoration: none;
	 }

body {
    background-image: url('vaporbg.gif');
    background-size: cover;
    background-attachment: fixed;
}
p {
    font-family: pixelthingy, monospace;
    color: white;
}
table.right {
    float: right;
    margin: auto 4em auto auto;
    background-color: rgba(0,0,0,0.4);
    border-style: hidden;
    max-width: 200px;
}
th {
    font-family: pixelthingy, monospace;
    font-size: 12px;
    text-align: left;
    color: white;
}
th.title {
    font-family: pixelthingy, monospace;
    font-size: 12px;
    text-align: center;
    color: white;
}
h1,h2,h3,h4,h5,h6 {
    font-family: pixelthingy, monospace;
    color: #FACDB9;
}
h1 {
    text-align: center;
}
div.contact {
    margin: auto;
    text-align: center;
    border-style: solid;
    border-color: #FACDB9;
    background-color: rgba(0,0,0,0.4);
    border-width: 1px;
    max-width: 500px;

}
div.skelepizza {
    margin: auto;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-color: #FACDB9;
    max-width: 200px;
}
